/*--------------------------Eliazar------------------------------------------------*/
body {
  background-image: url(""), url("paper.gif");
  background-color: #cccccc;
}






/*--------------------------Manuel------------------------------------------------*/

.Sick1{
  text-align: center;
}










/*--------------------------Ulises------------------------------------------------*/
.mainPage {
  background: url(../assets/RedBluePill.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.page1 {
  background: url(../assets/SickPerson.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.page5 {
  background: url(../assets/portals.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}




.linkdown {
  display: flex;
  align-items: flex-end;
}

.CenterText {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ButtonSpace {
  display: flex;
  justify-content: space-evenly;
}

.TextFormat {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  background-color:black;
  text-align: center;
  
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-inline: 350px;

}

.blueText{
  color:blue;
}

.redText{
  color:red;
}

.titleTxt{
  font-size: 100px;
  display: flex;
  justify-content: space-between;
}

.start{
  color: white;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio{
  display: flex;
  justify-content: end; 
}










