/*--------------------------Elizar------------------------------------------------*/
body {
  background-image: url(""), url("paper.gif");
  background-color: #cccccc;
}
.container
{
height:125vh;
    width: 100%;
    background-image:url(../assets/HD-wallpaper-paper-texture-black.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}




/*--------------------------Manuel------------------------------------------------*/

.Sick1{
  text-align: center;
}








/*--------------------------Ulises------------------------------------------------*/
.mainPage {
  background: url(../assets/RedBluePill.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.page1 {
  background: url(../assets/future.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.linkdown {
  display: flex;
  align-items: flex-end;
}

.CenterText {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ButtonSpace {
  display: flex;
  justify-content: space-evenly;
}

.TextFormat {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 150px;

}

.blueText{
  color:blue;
}

.redText{
  color:red;
}

.titleTxt{
  font-size: xx-large;
}












